
html
  head
    script(src="/components/jsonary/jsonary.js")

    link(rel="stylesheet",href="/components/jsonary/renderers/basic.jsonary.css")
    link(rel="stylesheet",href="/components/jsonary/renderers/api.jsonary.css")

    script(src="/components/jsonary/renderers/basic.jsonary.js")
    script(src="/components/jsonary/plugins/jsonary.render.table.js")
    script(src="/components/jsonary/renderers/plain.jsonary.js")

  body
    #render-container

    script
      | var data = Jsonary.create({
      |     "id": 125,
      |     "authorId": 25,
      |     "title": "Example data"
      | });
      | var schema = Jsonary.createSchema({
      |     "title": "Example hyper-schema",
      |     "links": [
      |         {
      |             "rel": "self",
      |             "href": "http://example.com/items/{id}"
      |         },
      |         {
      |             "rel": "author",
      |             "href": "http://example.com/users/{authorId}"
      |         }
      |     ]
      | });
      | data.addSchema(schema);
      | data.renderTo(document.getElementById('render-container'));


