doctype html

html.example

  head
    title Sitefile Polymer example

    script(type='text/javascript', src="/components/jquery/dist/jquery.js")
    script(type='text/javascript', src="/components/coffee-script/extras/coffee-script.js")
    link(type='text/coffeescript', href="/example/script.coffee")

    script(type='text/javascript', src="/example/server-generated-javascript")
    link(rel="stylesheet", type='text/css', href="/example/server-generated-stylesheet")
    script(src="/components/webcomponentsjs/webcomponents.js")
    //link(rel="import", href="/example/polymer-custom-element.html")
    link(rel="import", href="/example/polymer-custom-element")

  body

    .test-custom-element

      my-element


