doctype html

html.example

  head

    title Prism Example

    //script(type="text/javascript", src="/components/prism/prism.js")
    link(rel="import", href="/components/polymer/polymer.html")
    link(rel="import", href="/components/prism-js/prism-js.html")

  body

    prism-js(language="css", inputValue="p { color: blue; }")


