extends ../lib/sitefile/client/base

block head
  title Sitefile Pug example
  +std-html-client "Sitefile Base Client - Home"

block document
  h1 Example Pug template with Sitefile

  table.docinfo
    colgroup
      col.docinfo-names
      col.docinfo-content

    tbody
      +docinfo-field-tr('App', context.pkg.name)
      +docinfo-field-tr('Description', context.pkg.description)
      +docinfo-field-tr('Context Name', context.name)
      +docinfo-field-tr('Context Id', context.id())

      +docinfo-field-tr('Resource name', rcontext.route.name )
      +docinfo-field-tr('Resource route-handler name', rcontext.route.handler )
      +docinfo-field-tr('Resource route-handler spec', rcontext.route.spec )


  p Also try another template at the same URL:
    a(href="?tpl=example/server-generated-page-2.pug") Linky


block epilogue
  // Id: node-sitefile/0.0.7-dev example/server-generated-page.pug
