doctype html

// Id: node-sitefile/0.0.4-f-gv example/server-generated-page.jade

html.example

  head
    title Sitefile Jade example

    script(type='text/javascript', src="/components/jquery/dist/jquery.js")
    script(type='text/javascript', src="/components/coffee-script/extras/coffee-script.js")
    link(type='text/coffeescript', href="/example/script.coffee")

    script(type='text/javascript', src="/example/server-generated-javascript")
    link(rel="stylesheet", type='text/css', href="/example/server-generated-stylesheet")

  body
    #main Main content

    table.docinfo
      colgroup
        col.docinfo-names
        col.docinfo-content
      tbody
        tr.field
          th.docinfo-name App
          td.field-body.app-name= pkg.name
        tr.field
          th.docinfo-name Description
          td.field-body.app-name= pkg.description

