extends ../lib/sitefile/client/base

block head
  title Sitefile Pug example
  +std-html-client "Sitefile Base Client - Home"

block document
  h1 Example Pug template with Sitefile

  - global_context = context.context

  table.docinfo
    colgroup
      col.docinfo-names
      col.docinfo-content

    tbody
      +docinfo-field-tr('App', global_context.pkg.name)
      +docinfo-field-tr('Description', global_context.pkg.description)

      +docinfo-field-tr('Resource name', context.name)
      +docinfo-field-tr('Resource router name', context.route.name )
      +docinfo-field-tr('Resource route-handler name', context.route.handler )
      +docinfo-field-tr('Resource route-handler spec', context.route.spec )


  p Also try another template at the same URL:
    a(href="?tpl=example/server-generated-page-2.pug") Linky


block epilogue
  // Id: node-sitefile/0.0.7-dev example/server-generated-page.pug

