# Installed files
node_modules/
public/components/
# Build files
site-build
public/script/pkg-*.js
public/script/browser
public/script/project
public/script/x-backbone
public/script/x-bookmarks
build/
main.sqlite3.db

# Misc. local files
example/*.neato.png
example/*.twopi.png
example/*.dot.png
*.sqlite
.build/
