doctype html
include html


html(profile="http://dotmpe.com/project/sitefile")

  - var main = null // Main or primary client is the first one loaded

  head 
    block head
      // TODO: either title is template var with default fallback or client side // scr
      +std-html-head "Sitefile Base Client"
    block head-extra
  body
    block prologue
    .header.container
      block header
        p Template header
        hr
    block main
    .document.container
      block document
        p Template document
    .footer.container
      block footer
        hr
        p Template footer
    block epilogue

