//- Template for app/sf-v0 

extends base

block head
  +html-meta("sitefile.main", "base", "sitefile")
  +std-html-client("Sitefile RJS Client")
block header
block main
  #hnav.container.placeholder
block document
  h3.subtitle Sitefile v0 - RequireJS Client
block footer
block epilogue

