
extends base

block head
  +html-meta("sitefile.main", "base", "sitefile")
  +std-html-client "Sitefile RJS Client"

block header
  hr

block main
  .container.placeholder

block document
  h1.title Sitefile
  h2.subtitle RequireJS Client
  p Prototype

block footer
  hr
  p Footer

