
extends base

block head
  +std-html-client("Sitefile RJS Client")
  +html-meta("application-name", "Sitefile/"+context.version)
  +html-meta("sitefile-client-modules", "page,profiles,tilda,menu")

block prologue
  .prologue
block header
  input.form-control#search(placeholder="Search").placeholder
block main
  .container.placeholder.main.docutils-document-contents
block document
block footer
block epilogue
  .epilogue
    div#tilda

