
extends base

block head
  +std-html-client("Sitefile RJS Client")

block prologue
  .prologue
block header
block main
  //- main.docutils-document-contents
  .container.placeholder.document
block document
block footer
block epilogue
  .epilogue
    div#tilda

