
extends base


block head
  +html-meta("sitefile.main", "base", "sitefile")
  +std-html-client "Sitefile RJS Client"


block prologue

  
block header
  hr

block main
  .container.placeholder.main.docutils-document-contents
  hr

block document
  //h3.subtitle Sitefile v0 - RequireJS Client w. Polyfill

block footer
  hr

block epilogue



