doctype html


.sf-mf.sf-code.btn-toolbar
  .btn-group
    button.start.btn.btn-sm(data-original-title="Run")
      i.fa.fa-play
//- button.hidden.btn(data-original-title="Started...")
//-      i.fa.fa-hourglass-start
