doctype html


.sf-mf.sf-code.btn-toolbar
  .btn-group
    button.btn.btn-sm(data-original-title="Started...")
      i.fa.fa-hourglass-start
    button.btn.btn-sm(data-original-title="Finishing...")
      i.fa.fa-hourglass-end
    button.btn.btn-sm(data-original-title="Re-run")
      i.fa.fa-retweet
    button.btn.btn-sm(data-original-title="Delete result")
      i.fa.fa-trash
