doctype html

html.example

  head
    title Source Browser

    script(type='text/javascript', src="/components/jquery/dist/jquery.js")
    script(type='text/javascript', src="/components/coffee-script/extras/coffee-script.js")
    //script(src="/components/webcomponentsjs/webcomponents.js")
    //script(type='text/javascript', src="/components/polymer-platform/platform.js")
    script(type='text/javascript', src="/components/prism/prism.js")

    script(type='text/javascript', src="/components/prism/components/prism-coffeescript.js")
    script(type='text/javascript', src="/components/prism/components/prism-markup.js")
    script(type='text/javascript', src="/components/prism/components/prism-cpp.js")
    script(type='text/javascript', src="/components/prism/components/prism-jade.js")
    script(type='text/javascript', src="/components/prism/components/prism-"+format+".js")

    link(type='text/coffeescript', href="/example/script.coffee")
    script(type='text/javascript', src="/example/server-generated-javascript")

    link(rel="stylesheet", type='text/css', href="/example/server-generated-stylesheet")
    link(rel="stylesheet", type='text/css', href="/example/polymer-example.css")
    link(rel="stylesheet", type='text/css', href="/components/prism/themes/prism.css")

    link(rel="import", href="/components/core-scaffold/core-scaffold.html")
    link(rel="import", href="/components/core-toolbar/core-toolbar.html")
    link(rel="import", href="/components/core-menu/core-menu.html")
    link(rel="import", href="/components/core-item/core-item.html")
    link(rel="import", href="/components/paper-item/paper-item.html")
    link(rel="import", href="/components/core-header-panel/core-header-panel.html")
    link(rel="import", href="/components/core-drawer-panel/core-drawer-panel.html")
    link(rel="import", href="/components/core-icons/core-icons.html")
    link(rel="import", href="/components/paper-icon-button/paper-icon-button.html")
    link(rel="import", href="/components/core-animated-pages/core-animated-pages.html")
    link(rel="import", href="/components/core-animated-pages/transitions/slide-from-right.html")
    link(rel="import", href="/example/polymer-langstyle-select")

  body(unresolved, fullbleed)

    core-scaffold#scaffold

      nav
        core-toolbar
        label Path
        input(value=source)
        div
          lang-style-select()
          script
            | var langsel = document.querySelector('lang-style-select');
            | langsel.styles = [
            |   {label: 'Coy (Light)', name: 'coy'},
            |   {label: 'Dark (Brown)', name: 'dark'},
            |   {label: 'Tomorrow (Dark Brown)', name: 'tomorrow'},
            |   {label: 'Twilight (Black)', name: 'twilight'},
            | ];

      core-toolbar(tool)
        div Source View

      div(layout, horizontal, center-center, fit)
        .container
          pre(class="language-"+format)
            - for line in lines
                code(class="language-"+format)= line +'\n'



